{% extends 'base.html' %}
{% block content %}
<h1>Add New Invigilator</h1>
<form method="post" action="addInvigilator">
    {% csrf_token %}
    Enter Invigilator Code : <input required type="text" name="icode"><br><br>
    Enter Invigilator Name : <input required type="text" name="iname"><br><br>
    Enter Invigilator Department : <input required type="text" name="idepartment"><br><br>
    <input class="button-62" type="submit">
</form>

<div>
    {%for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
</div>

<br><br>
<form action="invigilatorinfo" method="post">
    {% csrf_token %}
    <input name="eid" type="hidden" value={{eid}} />
    <input type="submit" class="button-main" value="Go Back"><br><br>
</form>


{% endblock %}