{% extends 'base.html' %}
{% block content %}

<h1>Select Hall</h1><br>
<br>on {{edate}} @ {{etime}}

<br><br>

<div class="w3-panel w3-yellow w3-border">
    {%for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
</div>

 <table border="5"><tr>
    <th>ID</th><th>Hall Code</th><th>Hall Name</th><th>Hall Capacity</th><th></th>
 </tr>
     
     {% for hall in halls %}<tr>
     <td>{{hall.id}}</td><td>{{hall.hcode}}</td><td>{{hall.hname}}</td><td>{{hall.hcapacity}}</td>
     <td>
        <form target={{blank}}  '_top' method="post" action={{action}}>{% csrf_token %}
            <input name="edate" type="hidden" value={{edate}} />
            <input name="hid" type="hidden" value={{hall.id}} />
            <input name="etime" type="hidden" value={{etime}} />
            <input name="eid" type="hidden" value={{eid}} />
            <input  type="submit" class="button-62" value="Select" />
        </form>
     </td>
     </tr>{% endfor %}</table>
 
<br><br>
<form action={{back}} method="post">
    {% csrf_token %}
    <input name="eid" type="hidden" value={{eid}} />
    <input type="submit" class="button-main" value="Go Back"><br><br>
</form>

<form action="login" method="get">
    {% csrf_token %}

    <input type="submit" class="button-main" value="Go Home"><br><br>

</form>




{% endblock %}